:root {
  font-size: calc(100vw / 80);
  /* 24px */
  height: 100vh;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
/* font-family: raleway, sans-serif; */

html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

/* Стили первого основоного экрана */
.main-part-page {
  background-image: url(../img/main_bg.webp), url(../img/main_bg.png);
  background-repeat: no-repeat;
  background-color: #2d4cd1;
  background-size: cover;
  height: 100vh;
}

/* nav */
.main-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 3.4em;
  margin-right: 2.5em;
  padding-top: 2.85em;
  align-items: center;
}

.logos-ul,
.links-ul {
  display: flex;
}

.logos-ul {
  justify-content: space-between;
  margin-right: 0em;
  margin-top: 0.2em;
}

.header-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo + .logo {
  padding-left: 2.25em;
}

.links-ul {
  margin-top: 0.05em;
  margin-left: 0em;
}

.links-li + .links-li {
  padding-left: 4em;
}

.logo {
  margin-left: 1.3em;
}

.link-li-a {
  opacity: 0.8;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.155rem;
}

.active {
  opacity: 1;
  font-weight: 700;
}

.tell-btn {
  width: 23.4em;
  padding-top: 1.2em;
  padding-bottom: 1em;
  text-align: center;
  border: 0.125rem solid #f54068;
  border-radius: 0.667rem;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 1.155rem;
}

/* Основная часть главной страницы */
.creative-and-soc {
  display: flex;
  justify-content: space-between;
}

.creative {
  margin-top: 15.9em;
  margin-left: 7.3em;
}

.creative-tech {
  font-family: raleway, sans-serif;
  color: #ffffff;
  font-size: 3.292rem;
  font-weight: 800;
  line-height: 4.287rem;
}

.down-arrow {
  margin-top: 1.8em;
}

.soc {
  margin-right: 1.25em;
  margin-top: 12.05em;
  text-align: center;
  margin-bottom: 1.7em;
}

.soc-li + .soc-li {
  margin-top: 1.625em;
}

/* Второй экран */

.second-part-page {
  background-color: #2d4cd1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second-part-page-wrapper {
  display: flex;
}

.cont-part {
  margin-bottom: 2em;
  margin-left: 6.9em;
}

.idea {
  text-shadow: 0.125rem 0.125rem 0 #f54068;
  color: #ffffff;
  font-family: raleway, sans-serif;
  font-size: 3.292rem;
  font-weight: 800;
  line-height: 4.287rem;
  margin-bottom: 0.75em;
  margin-top: 1.45em;
}

.idea-nav {
  margin-top: 0em;
}

.we-cont {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.167rem;
  font-weight: 700;
  max-width: 27.5rem;
  line-height: 138%;
  margin-bottom: 3.25em;
}

.get-to-know {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.155rem;
  padding-bottom: 0.7em;
  border-bottom: 0.1rem solid #f54068;
  display: inline-block;
}

/* Сетка работ */

.partners-grid {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 13.25rem 13.25rem 13.25rem;
  margin-left: 6.6em;
  margin-top: 18vh;
}

.partner-box {
  text-align: center;
  padding-top: 3.2em;
  padding-bottom: 3.2em;
}

.partner-logo-img {
  vertical-align: middle;
}

/* Расположение логотипов компаний-парнеров относительно центра блока */
.sber_partner {
  width: 2.292rem;
  height: 2.25rem;
  margin-left: 0.2em;
}

.lamoda_partner {
  width: 2.417rem;
  height: 2.208rem;
  margin-left: 0.8em;
}

.kislorod_partner {
  margin-left: 1.3em;
  width: 1.708rem;
  height: 2.208rem;
}

.brig_partner {
  width: 5.1rem;
  height: 1.665rem;
  margin-top: 0.5em;
  margin-left: 0.3em;
}

.taggsm_partner {
  margin-top: -0.1em;
  margin-left: 0.7em;
  width: 6.333rem;
  height: 0.958rem;
}

.te_partner {
  margin-left: 1.1em;
  margin-top: -0.2em;
  width: 2.708rem;
  height: 1.542rem;
}

.dr_partner {
  width: 2.25rem;
  height: 2.083rem;
  margin-left: 0.2em;
}

.td_partner {
  width: 8.5rem;
  height: 1.55rem;
}

.btn-right {
  margin-left: 1.1em;
  width: 3.5rem;
  height: 3.5rem;
}

/* Страницы кейсов */

.case-page {
  height: 100vh;
  background-color: #242424;
  background-image: url(../img/works-img/brig-card-bg.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 39.75rem 21.458rem;
}

.case-page-content {
  display: flex;
}

.left-side-case-page {
  margin-top: 5.7em;
  margin-left: 6.9em;
}

.name-of-case {
  text-shadow: 0.125rem 0.125rem 0 #e59200;
  color: #ffffff;
  font-family: raleway, sans-serif;
  font-size: 3.292rem;
  font-weight: 800;
  line-height: 4.287rem;
}

.case-descr {
  opacity: 0.8;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.26rem;
  letter-spacing: -0.005em;
  margin-top: 3.5em;
  margin-bottom: 6.65em;
}

.right-side-case-page {
  margin-left: 2em;
}

.case-feature {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.237rem;
  margin-top: 7.6em;
  margin-left: 14.1em;
}

.kislorod-name-of-case {
  text-shadow: 0.125rem 0.125rem 0 #00a99c;
}

.kislorod-page {
  background-image: url(../img/works-img/kislorod-card-bg.png);
}

.tageps-name-of-case {
  text-shadow: 0.125rem 0.125rem 0 #f54068;
}

.tageps-case-page {
  background-image: url(../img/works-img/tagepsilon-card-bg.png);
}

.td-name-of-case {
  text-shadow: 0.125rem 0.125rem 0 #0009ff;
}

.td-case-page {
  background-image: url(../img/works-img/td-card-bg.png);
}

/* Фиксы после плагина */
.nav-margin {
  margin-top: -11em;
}

.blossom-nav-margin {
  margin-top: -5.5em;
}

.qtech-nav-margin {
  margin-top: -6.4em;
}

.form-nav-margin {
  margin-top: -3.8em;
}

.sending-nav-margin {
  margin-top: -4.8em;
}

/* Четвертая страница, блоссом-агество */

.fourth-part-page {
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../img/red-circle-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 26.5rem 26.5rem;
}

.fourth-part-page-wrapper {
  display: flex;
}

.black-nav-links {
  color: #242424;
}

.black-tell-btn {
  color: #242424;
}

.blue-nav-active {
  color: #2d4cd1;
}

.all-agancy-profile {
  margin-left: 6.9em;
  margin-top: 6.3em;
}

.name-of-agancy {
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-size: 3.292rem;
  color: #f54068;
  line-height: 4.287rem;
}

.agancy-feature {
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-size: 3.292rem;
  line-height: 4.287rem;
  color: #242424;
}

.agancy-descr {
  max-width: 21.4rem;
  opacity: 0.8;
  color: #242424;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: 3.1em;
  letter-spacing: 0rem;
}

.other-color-word {
  color: #f54068;
}

.agancy-img {
  margin-left: 9.33em;
  margin-top: 1.7em;
  width: 7.958rem;
  height: 26.833rem;
}

/* Пятая страница, квантум */

.fifth-part-page {
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../img/blue-circle-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 26.5rem 26.5rem;
}

.blue-name-of-agancy {
  color: #2d4cd1;
}

.other-color-word-blue {
  color: #2d4cd1;
}

.agancy-img-qtech {
  margin-left: 5.1em;
  margin-top: 2.3em;
  width: 17rem;
  height: 25.5rem;
}

/* Страница рассылки */

.sixth-part-page {
  height: 100vh;
  background-color: #2d4cd1;
}

.sending-box {
  max-width: 66.583rem;
  height: 26.042rem;
  background-color: #ffffff;
  margin-left: 6.9em;
  margin-top: 3.45em;
  box-shadow: 0.833rem 0.833rem 0 #f54068;
}

.sending-features {
  display: flex;
  padding-top: 4.75em;
  padding-left: 10em;
}

.sending-req {
  display: flex;
}

.agree-info {
  text-align: center;
  opacity: 0.25;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.22rem;
  margin-top: 5.7em;
  text-align: center;
  max-width: 31rem;
  margin-left: 21.5em;
}

.features-descr {
  color: #242424;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.237rem;
  padding-top: 0.2em;
}

.sub-on-sending {
  color: #242424;
  font-family: "Open Sans", sans-serif;
  font-size: 1.167rem;
  font-weight: 700;
  line-height: 1.55rem;
  padding-right: 0.98em;
}

.feature-img-and-descr {
  padding-left: 3.333rem;
}

.feature-img {
  margin-top: -0.05em;
  width: 1.666rem;
  height: 2.791rem;
}

/* Поля инпутов рассылки */

.sending-request {
  margin-left: 6.5em;
  display: flex;
}

.input {
  border: 0px;
  color: #000;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 1.155rem;
  border-bottom: 0.083rem solid #000;
  padding-bottom: 0.75em;
  margin-left: 4.2em;
  width: 11.7rem;
  padding-left: 1.55em;
}

.input-block {
  margin-top: 5.5em;
}

.send-input-block {
  margin-top: 5.33em;
}

.input-block + .input-block {
  margin-left: 0.3em;
}

.send-btn {
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 1.155rem;
  background-color: transparent;
  border: 0px;
  color: #f54068;
  border-bottom: 0.083rem solid #f54068;
  padding-left: 0.15em;
  width: 12.9rem;
  margin-left: 4.2em;
  padding-bottom: 1em;
}

.send-input::-webkit-input-placeholder {
  color: #f54068;
}

.send-input::-moz-placeholder {
  color: #f54068;
}

/* seven-part-page страница формы*/
.seven-part-page {
  background-color: #2d4cd1;
  height: 100vh;
}

.form-page-wrapper {
  display: flex;
}

.left-side-form-page {
  margin-top: 3.8em;
  margin-left: 6.9em;
}

.do-you-need-a-site {
  font-family: raleway, sans-serif;
  text-shadow: 0.125rem 0.125rem 0 #f54068;
  color: #ffffff;
  font-size: 3.292rem;
  font-weight: 800;
  line-height: 4.287rem;
}

.you-can-give-request {
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.237rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2.35em;
  margin-bottom: 1.5em;
  letter-spacing: -0.007em;
}

.phone-number {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 1.155rem;
}

.privacy-policy {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.583rem;
  font-weight: 400;
  margin-top: 22.5em;
  line-height: 0.8rem;
}

/* Форма */

.main-form {
  margin-left: 6.3em;
  margin-top: 5.3em;
}

.main-form-input {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.583rem;
  font-weight: 700;
  line-height: 0.817rem;
  border: 0px;
  border-bottom: 0.083rem solid #fff;
  width: 32.3rem;
  background-color: transparent;
  padding-bottom: 1.1em;
  padding-left: 1.36em;
}

.main-input-send-btn {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 1.155rem;
  background-color: transparent;
  border: 0px;
  border-bottom: 0.083rem solid #f54068;
  padding-left: 0.15em;
  width: 12.9rem;
  padding-bottom: 1em;
  margin-top: 0.8em;
}

.main-form-input-block + .main-form-input-block {
  margin-top: 2.78em;
}

.main-form-input::-webkit-input-placeholder {
  color: #ffffff;
}

.main-form-input::-moz-placeholder {
  color: #ffffff;
}

/* Модальное окно */
.modal {
  padding-left: 33.3em;
  padding-right: 33.3em;
  border-radius: 0px;
}

.modal-form-wrapper {
  margin-left: -33em;
}

.modal-left-side-form-page {
  margin-left: 3em;
  margin-top: 1em;
}

.modal-do-you-need-a-site {
  color: #242424;
  font-family: "Open Sans";
  font-size: 1.167rem;
  font-weight: 700;
  text-shadow: 0rem 0rem 0;
}

.modal-you-can-give-request {
  color: rgba(0, 0, 0, 0.6);
  width: 19rem;
  margin-top: 0.2em;
}

.modal-phone-number {
  color: #242424;
}

.modal-privacy-policy {
  color: #242424;
  opacity: 0.4;
  margin-top: 4.3em;
  margin-left: -4.6em;
  width: 31.208rem;
  text-align: center;
  padding-bottom: 3em;
}

.modal-right-side-form-page {
  margin-left: -1.77em;
  margin-top: -2em;
}

.modal-main-form-input {
  border-bottom: 0.083rem solid #242424;
  color: #242424;
}

.modal-main-form-input::-webkit-input-placeholder {
  color: #242424;
}

.modal-main-form-input::-moz-placeholder {
  color: #242424;
}

.modal-main-input-send-btn {
  color: #f54068;
}

.mobile-version {
  display: none;
}

/* 
Thanks-modal-window */

.thanks-modal {
  padding-top: 5em;
  padding-bottom: 5em;
}

.thanks-modal-wrapper {
  display: flex;
}

.bottle-img {
  width: 18.25rem;
  height: 22.958rem;
  padding-right: 3em;
}

.thanks-modal-left-side {
  margin-left: -26em;
}

.application-submitted {
  line-height: 2.833rem;
  font-size: 2.333rem;
  font-style: normal;
  font-weight: 600;
  color: #242424;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  margin-top: 1.35em;
  margin-bottom: 0.85em;
}

.thanks-modal-right-side {
  margin-left: 1.65em;
}

.thanks-modal-p {
  font-style: normal;
  font-weight: normal;
  font-size: 0.824rem;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Open Sans", sans-serif;
}

.application-time {
  margin-top: 1.5em;
}

.red-color {
  color: #f54068;
}

.modal a.close-modal {
  position: absolute;
  top: 2.916rem;
  right: 3.166rem;
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  text-indent: -416rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/btn_close.svg);
}

.from-about-field.main-form-input-block {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.input-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0;
  transition: all 0.5s;
}

.input-wrapper.hidden {
  width: 0;
}

.input-wrapper input {
  width: 100%;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.583rem;
  font-weight: 700;
  line-height: 0.817rem;
  border: 0px;
  border-bottom: 0.083rem solid #fff;
  background-color: transparent;
  padding-bottom: 1.1em;
  padding-left: 1.36em;
}

.input-wrapper input::-webkit-input-placeholder {
  color: #fff;
}

.input-wrapper input::-moz-placeholder {
  color: #fff;
}

.btn-set {
  display: flex;
  width: 100%;
  transition: all 0.5s;
  /* align-items: center; */
}

.btn-set.hidden {
  width: 0;
}

.btn-set button {
  display: block;
  width: 100%;
  padding-bottom: 1.1em;
  padding-left: 1.36em;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 0.583rem;
  font-weight: 700;
  line-height: 0.817rem;
  color: #fff;
  border: none;
  border-bottom: 0.083rem solid #fff;
  background: transparent;
  text-align: center;
  cursor: pointer;
}

.btn-set button.active {
  border-bottom-color: #f54068;
  color: #f54068;
}

input {
  outline: none;
}

.blue-input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #2d4cd1 !important;
  /* Цвет фона */
  -webkit-text-fill-color: #fff !important;
  /* цвет текста */
  color: #fff !important;
  /* цвет текста */
}

.white-input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
