:root {
  font-size: calc(100vw / 80);
  /* 24px */
  height: 100vh;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
/* font-family: raleway, sans-serif; */

html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

/* Стили первого основоного экрана */
.main-part-page {
  background-image: url(../img/main_bg.png);
  background-repeat: no-repeat;
  background-size: 100vw;
}

/* nav */
.main-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 3.33em;
  margin-right: 2.7em;
  padding-top: 2.85em;
  align-items: center;
  position: fixed;
}

.logos-ul,
.links-ul {
  display: flex;
}

.logos-ul {
  justify-content: space-between;
  margin-right: 5.79em;
  margin-top: 0.2em;
}

.logo+.logo {
  padding-left: 2.25em;
}

.links-ul {
  margin-top: 0.05em;
  margin-left: 0em;
}

.links-li+.links-li {
  padding-left: 2.95em;
}

.user-icon {
  margin-top: 0.1em;
  margin-left: 2.25em;
  margin-right: 2.2em;
}

.link-li-a {
  opacity: 0.8;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.155rem;
}


.active {
  opacity: 1;
  font-weight: 700;
}

.tell-btn {
  width: 23.4em;
  padding-top: 1.2em;
  padding-bottom: 1em;
  text-align: center;
  border: 0.125rem solid #f54068;
  border-radius: 0.667rem;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 1.155rem;
}

/* Основная часть главной страницы */
.creative-and-soc {
  display: flex;
  justify-content: space-between;
}

.creative {
  margin-top: 22em;
  margin-left: 7.15em;
}

.creative-tech {
  font-family: raleway, sans-serif;
  color: #ffffff;
  font-size: 3.292rem;
  font-weight: 800;
  line-height: 4.287rem;
}

.down-arrow {
  margin-top: 1.8em;
}

.soc {
  margin-right: 1.3em;
  margin-top: 15.1em;
  text-align: center;
  margin-bottom: 1.7em;
}

.soc-li+.soc-li {
  margin-top: 1.625em;
}

/* Второй экран */

.second-part-page {
  background-color: #2d4cd1;
  display: flex;
}

.cont-part {
  margin-top: 13.9em;
  margin-left: 6.708em;
}

.we-cont {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.167rem;
  font-weight: 800;
  max-width: 27.5rem;
  line-height: 138%;
  margin-bottom: 3.25em;
}

.get-to-know {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.155rem;
  padding-bottom: 0.7em;
  border-bottom: 1.5px solid #f54068;

}



/* Сетка работ */

.partners-grid {
  width: 39.75rem;
  height: 31.167rem;
  background-color: #ffffff;
  margin-top: 9.3em;
  margin-left: 6.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.partner-box {
  text-align: center;
  line-height: 10.3rem;
}

.partner-logo-img {
  vertical-align: middle;
}

/* Расположение логотипов компаний-парнеров относительно центра блока */
.sber_partner {
  width: 2.292rem;
  height: 2.25rem;
  margin-left: 0.2em;
}

.lamoda_partner {
  width: 2.417rem;
  height: 2.208rem;
  margin-left: 0.8em;
}

.kislorod_partner {
  margin-left: 1.3em;
  width: 1.708rem;
  height: 2.208rem;
}

.brig_partner {
  width: 5.1rem;
  height: 1.665rem;
  margin-top: 0.5em;
  margin-left: 0.3em;
}

.taggsm_partner {
  margin-top: -0.1em;
  margin-left: 0.7em;
  width: 6.333rem;
  height: 0.958rem;
}

.te_partner {
  margin-left: 1.1em;
  margin-top: -0.2em;
  width: 2.708rem;
  height: 1.542rem;
}

.dr_partner {
  width: 2.25rem;
  height: 2.083rem;
  margin-left: 0.2em;
}

.td_partner {
  width: 8.5rem;
  height: 1.55rem;
}

.btn-right {
  margin-left: 1.1em;
  width: 3.5rem;
  height: 3.5rem;
}

/* Третий экран */

.third-part-page {
  background-color: #2d4cd1;
  display: block;
}

.our-works {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.333rem;
  font-weight: 700;
  padding-top: 4.15em;
  margin-left: 2.87em;
}



/* Стили для сетки работ */

.works-grid {
  margin-top: 2.6em;
}

.up-works-line {
  display: flex;
}

.down-works-line {
  display: flex;
  margin-top: 3.8em;
}

.small-work-card {
  width: 16.417rem;
  height: 18.75rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.medium-work-card {
  width: 26.5rem;
  height: 18.75rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.big-work-card {
  width: 36.333rem;
  height: 18.75rem;
  background-repeat: no-repeat;
  background-size: 100%;

}

.kislorod-work-card {
  margin-left: 6.7em;
  background-image: url(../img/works-img/kislorod-card-bg.png);
}

.brig-work-card {
  margin-left: 3.7em;
  background-image: url(../img/works-img/brig-card-bg.png);
}

.taggsm-work-card {
  margin-left: 3.5em;
  background-image: url(../img/works-img/taggsm-card-bg.png);
}

.epsilon-work-card {
  margin-left: 6.7em;
  background-image: url(../img/works-img/tagepsilon-card-bg.png);
}

.td-work-card {
  margin-left: 3.75em;
  background-image: url(../img/works-img/td-card-bg.png);
}


/* Ссылка на все работы */

.all-cases-wrapper {
  width: 4.1rem;
  margin: auto;
  margin-top: 4.2em;
  padding-left: 0.8em;
  padding-bottom: 5em;
}

.all-cases-link {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.155rem;
  padding-bottom: 0.7em;
  border-bottom: 1.5px solid #f54068;
}